.onchainkit-wrapper {
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	@layer base {
		:root,
		.light,
		.default-light {
			--ock-font-family: "DM Sans", sans-serif;
			--ock-border-radius: 0.5rem;
			--ock-border-radius-inner: 0.25rem;
			--ock-text-inverse: var(--color-gray-50, #f9fafb);
			--ock-text-foreground: var(--color-gray-950, #030712);
			--ock-text-foreground-muted: var(--color-gray-600, #4b5563);
			--ock-text-error: var(--color-rose-600, #e11d48);
			--ock-text-primary: var(--color-indigo-600, #4f46e5);
			--ock-text-success: var(--color-lime-600, #65a30d);
			--ock-text-warning: var(--color-orange-600, #ea580c);
			--ock-text-disabled: var(--color-gray-400, #9ca3af);

			--ock-bg-default: var(--color-gray-50, #f9fafb);
			--ock-bg-default-hover: var(--color-gray-200, #e5e7eb);
			--ock-bg-default-active: var(--color-gray-300, #d1d5db);
			--ock-bg-alternate: var(--color-gray-200, #e5e7eb);
			--ock-bg-alternate-hover: var(--color-gray-300, #d1d5db);
			--ock-bg-alternate-active: var(--color-gray-400, #9ca3af);
			--ock-bg-inverse: var(--color-gray-100, #f3f4f6);
			--ock-bg-inverse-hover: var(--color-gray-200, #e5e7eb);
			--ock-bg-inverse-active: var(--color-gray-300, #d1d5db);
			--ock-bg-primary: var(--color-indigo-600, #4f46e5);
			--ock-bg-primary-hover: var(--color-indigo-700, #4338ca);
			--ock-bg-primary-active: var(--color-indigo-800, #3730a3);
			--ock-bg-primary-washed: var(--color-indigo-100, #e0e7ff);
			--ock-bg-primary-disabled: var(--color-indigo-300, #a5b4fc);
			--ock-bg-secondary: var(--color-slate-200, #e2e8f0);
			--ock-bg-secondary-hover: var(--color-slate-300, #cbd5e1);
			--ock-bg-secondary-active: var(--color-slate-400, #94a3b8);
			--ock-bg-error: var(--color-rose-600, #e11d48);
			--ock-bg-warning: var(--color-orange-600, #ea580c);
			--ock-bg-success: var(--color-lime-300, #bef264);
			--ock-bg-default-reverse: var(--color-gray-950, #030712);

			--ock-icon-color-primary: var(--color-indigo-600, #4f46e5);
			--ock-icon-color-foreground: var(--color-gray-950, #030712);
			--ock-icon-color-foreground-muted: var(--color-gray-600, #4b5563);
			--ock-icon-color-inverse: var(--color-gray-50, #f9fafb);
			--ock-icon-color-error: var(--color-rose-600, #e11d48);
			--ock-icon-color-success: var(--color-lime-600, #65a30d);
			--ock-icon-color-warning: var(--color-orange-600, #ea580c);

			--ock-line-primary: var(--color-indigo-600, #4f46e5);
			--ock-line-default: var(--color-gray-300, #d1d5db);
			--ock-line-heavy: var(--color-gray-500, #6b7280);
			--ock-line-inverse: var(--color-gray-700, #374151);
		}

		.dark,
		.default-dark {
			--ock-font-family: "DM Sans", sans-serif;
			--ock-border-radius: 0.5rem;
			--ock-border-radius-inner: 0.25rem;
			--ock-text-inverse: var(--color-gray-950, #030712);
			--ock-text-foreground: var(--color-gray-50, #f9fafb);
			--ock-text-foreground-muted: var(--color-gray-400, #9ca3af);
			--ock-text-error: var(--color-rose-400, #fb7185);
			--ock-text-primary: var(--color-indigo-400, #818cf8);
			--ock-text-success: var(--color-lime-400, #a3e635);
			--ock-text-warning: var(--color-orange-400, #fb923c);
			--ock-text-disabled: var(--color-gray-600, #4b5563);

			--ock-bg-default: var(--color-gray-950, #030712);
			--ock-bg-default-hover: var(--color-gray-800, #1f2937);
			--ock-bg-default-active: var(--color-gray-700, #374151);
			--ock-bg-alternate: var(--color-gray-800, #1f2937);
			--ock-bg-alternate-hover: var(--color-gray-700, #374151);
			--ock-bg-alternate-active: var(--color-gray-600, #4b5563);
			--ock-bg-inverse: var(--color-gray-900, #111827);
			--ock-bg-inverse-hover: var(--color-gray-800, #1f2937);
			--ock-bg-inverse-active: var(--color-gray-700, #374151);
			--ock-bg-primary: var(--color-indigo-400, #818cf8);
			--ock-bg-primary-hover: var(--color-indigo-300, #a5b4fc);
			--ock-bg-primary-active: var(--color-indigo-200, #c7d2fe);
			--ock-bg-primary-washed: var(--color-indigo-900, #312e81);
			--ock-bg-primary-disabled: var(--color-indigo-950, #1e1b4b);
			--ock-bg-secondary: var(--color-slate-800, #1e293b);
			--ock-bg-secondary-hover: var(--color-slate-700, #334155);
			--ock-bg-secondary-active: var(--color-slate-600, #475569);
			--ock-bg-error: var(--color-rose-400, #fb7185);
			--ock-bg-warning: var(--color-orange-400, #fb923c);
			--ock-bg-success: var(--color-lime-700, #4d7c0f);
			--ock-bg-default-reverse: var(--color-gray-50, #f9fafb);

			--ock-icon-color-primary: var(--color-indigo-400, #818cf8);
			--ock-icon-color-foreground: var(--color-gray-50, #f9fafb);
			--ock-icon-color-foreground-muted: var(--color-gray-400, #9ca3af);
			--ock-icon-color-inverse: var(--color-gray-950, #030712);
			--ock-icon-color-error: var(--color-rose-400, #fb7185);
			--ock-icon-color-success: var(--color-lime-400, #a3e635);
			--ock-icon-color-warning: var(--color-orange-400, #fb923c);

			--ock-line-primary: var(--color-indigo-400, #818cf8);
			--ock-line-default: var(--color-gray-700, #374151);
			--ock-line-heavy: var(--color-gray-500, #6b7280);
			--ock-line-inverse: var(--color-gray-300, #d1d5db);
		}

		.base-light {
			--ock-font-family: "DM Sans", sans-serif;
			--ock-border-radius: 0.5rem;
			--ock-border-radius-inner: 0.25rem;
			--ock-text-inverse: var(--color-gray-50, #f9fafb);
			--ock-text-foreground: var(--color-gray-950, #030712);
			--ock-text-foreground-muted: var(--color-gray-600, #4b5563);
			--ock-text-error: var(--color-rose-600, #e11d48);
			--ock-text-primary: #0052ff;
			--ock-text-success: var(--color-lime-600, #65a30d);
			--ock-text-warning: var(--color-orange-600, #ea580c);
			--ock-text-disabled: var(--color-gray-400, #9ca3af);

			--ock-bg-default: var(--color-gray-50, #f9fafb);
			--ock-bg-default-hover: var(--color-gray-200, #e5e7eb);
			--ock-bg-default-active: var(--color-gray-300, #d1d5db);
			--ock-bg-alternate: var(--color-gray-200, #e5e7eb);
			--ock-bg-alternate-hover: var(--color-gray-300, #d1d5db);
			--ock-bg-alternate-active: var(--color-gray-400, #9ca3af);
			--ock-bg-inverse: var(--color-gray-100, #f3f4f6);
			--ock-bg-inverse-hover: var(--color-gray-200, #e5e7eb);
			--ock-bg-inverse-active: var(--color-gray-300, #d1d5db);
			--ock-bg-primary: #0052ff;
			--ock-bg-primary-hover: #014ceb;
			--ock-bg-primary-active: #0148dc;
			--ock-bg-primary-washed: #b2cbff;
			--ock-bg-primary-disabled: #9dbcfe;
			--ock-bg-secondary: var(--color-slate-200, #e2e8f0);
			--ock-bg-secondary-hover: var(--color-slate-300, #cbd5e1);
			--ock-bg-secondary-active: var(--color-slate-400, #94a3b8);
			--ock-bg-error: var(--color-rose-600, #e11d48);
			--ock-bg-warning: var(--color-orange-600, #ea580c);
			--ock-bg-success: var(--color-lime-300, #bef264);
			--ock-bg-default-reverse: var(--color-gray-950, #030712);

			--ock-icon-color-primary: #0052ff;
			--ock-icon-color-foreground: var(--color-gray-950, #030712);
			--ock-icon-color-foreground-muted: var(--color-gray-600, #4b5563);
			--ock-icon-color-inverse: var(--color-gray-50, #f9fafb);
			--ock-icon-color-error: var(--color-rose-600, #e11d48);
			--ock-icon-color-success: var(--color-lime-600, #65a30d);
			--ock-icon-color-warning: var(--color-orange-600, #ea580c);

			--ock-line-primary: #0052ff;
			--ock-line-default: var(--color-gray-300, #d1d5db);
			--ock-line-heavy: var(--color-gray-500, #6b7280);
			--ock-line-inverse: var(--color-gray-700, #374151);
		}

		.base-dark {
			--ock-font-family: "DM Sans", sans-serif;
			--ock-border-radius: 0.5rem;
			--ock-border-radius-inner: 0.25rem;
			--ock-text-inverse: var(--color-gray-50, #f9fafb);
			--ock-text-foreground: var(--color-gray-50, #f9fafb);
			--ock-text-foreground-muted: var(--color-gray-400, #9ca3af);
			--ock-text-error: var(--color-rose-400, #fb7185);
			--ock-text-primary: #578bfa;
			--ock-text-success: var(--color-lime-400, #a3e635);
			--ock-text-warning: var(--color-orange-400, #fb923c);
			--ock-text-disabled: var(--color-gray-600, #4b5563);

			--ock-bg-default: var(--color-gray-950, #030712);
			--ock-bg-default-hover: var(--color-gray-800, #1f2937);
			--ock-bg-default-active: var(--color-gray-700, #374151);
			--ock-bg-alternate: var(--color-gray-800, #1f2937);
			--ock-bg-alternate-hover: var(--color-gray-700, #374151);
			--ock-bg-alternate-active: var(--color-gray-600, #4b5563);
			--ock-bg-inverse: var(--color-gray-900, #111827);
			--ock-bg-inverse-hover: var(--color-gray-800, #1f2937);
			--ock-bg-inverse-active: var(--color-gray-700, #374151);
			--ock-bg-primary: #578bfa;
			--ock-bg-primary-hover: #477ef5;
			--ock-bg-primary-active: #5386f5;
			--ock-bg-primary-washed: #051537;
			--ock-bg-primary-disabled: #1b3365;
			--ock-bg-secondary: var(--color-slate-800, #1e293b);
			--ock-bg-secondary-hover: var(--color-slate-700, #334155);
			--ock-bg-secondary-active: var(--color-slate-600, #475569);
			--ock-bg-error: var(--color-rose-400, #fb7185);
			--ock-bg-warning: var(--color-orange-400, #fb923c);
			--ock-bg-success: var(--color-lime-700, #4d7c0f);
			--ock-bg-default-reverse: var(--color-gray-50, #f9fafb);

			--ock-icon-color-primary: #578bfa;
			--ock-icon-color-foreground: var(--color-gray-50, #f9fafb);
			--ock-icon-color-foreground-muted: var(--color-gray-400, #9ca3af);
			--ock-icon-color-inverse: var(--color-gray-950, #030712);
			--ock-icon-color-error: var(--color-rose-400, #fb7185);
			--ock-icon-color-success: var(--color-lime-400, #a3e635);
			--ock-icon-color-warning: var(--color-orange-400, #fb923c);

			--ock-line-primary: #578bfa;
			--ock-line-default: var(--color-gray-700, #374151);
			--ock-line-heavy: var(--color-gray-500, #6b7280);
			--ock-line-inverse: var(--color-gray-300, #d1d5db);
		}

		.cyberpunk {
			--ock-font-family: "Oxanium", sans-serif;
			--ock-border-radius: 0.125rem;
			--ock-border-radius-inner: 0rem;
			--ock-text-inverse: var(--color-gray-950, #030712);
			--ock-text-foreground: var(--color-gray-50, #f9fafb);
			--ock-text-foreground-muted: var(--color-gray-400, #9ca3af);
			--ock-text-error: var(--color-rose-400, #fb7185);
			--ock-text-primary: var(--color-fuchsia-400, #e879f9);
			--ock-text-success: var(--color-lime-400, #a3e635);
			--ock-text-warning: var(--color-orange-400, #fb923c);
			--ock-text-disabled: var(--color-gray-600, #4b5563);

			--ock-bg-default: var(--color-gray-950, #030712);
			--ock-bg-default-hover: var(--color-gray-800, #1f2937);
			--ock-bg-default-active: var(--color-gray-700, #374151);
			--ock-bg-alternate: var(--color-gray-800, #1f2937);
			--ock-bg-alternate-hover: var(--color-gray-700, #374151);
			--ock-bg-alternate-active: var(--color-gray-600, #4b5563);
			--ock-bg-inverse: var(--color-gray-900, #111827);
			--ock-bg-inverse-hover: var(--color-gray-800, #1f2937);
			--ock-bg-inverse-active: var(--color-gray-700, #374151);
			--ock-bg-primary: var(--color-fuchsia-400, #e879f9);
			--ock-bg-primary-hover: var(--color-fuchsia-300, #f0abfc);
			--ock-bg-primary-active: var(--color-fuchsia-200, #f5d0fe);
			--ock-bg-primary-washed: var(--color-fuchsia-900, #701a75);
			--ock-bg-primary-disabled: var(--color-fuchsia-950, #4a044e);
			--ock-bg-secondary: var(--color-slate-800, #1e293b);
			--ock-bg-secondary-hover: var(--color-slate-700, #334155);
			--ock-bg-secondary-active: var(--color-slate-600, #475569);
			--ock-bg-error: var(--color-rose-400, #fb7185);
			--ock-bg-warning: var(--color-orange-400, #fb923c);
			--ock-bg-success: var(--color-lime-400, #a3e635);
			--ock-bg-default-reverse: var(--color-gray-50, #f9fafb);

			--ock-icon-color-primary: var(--color-fuchsia-400, #e879f9);
			--ock-icon-color-foreground: var(--color-gray-50, #f9fafb);
			--ock-icon-color-foreground-muted: var(--color-gray-600, #4b5563);
			--ock-icon-color-inverse: var(--color-gray-950, #030712);
			--ock-icon-color-error: var(--color-rose-600, #e11d48);
			--ock-icon-color-success: var(--color-lime-600, #65a30d);
			--ock-icon-color-warning: var(--color-orange-600, #ea580c);

			--ock-line-primary: var(--color-fuchsia-400, #e879f9);
			--ock-line-default: var(--color-gray-700, #374151);
			--ock-line-heavy: var(--color-gray-500, #6b7280);
			--ock-line-inverse: var(--color-gray-300, #d1d5db);
		}

		.hacker {
			--ock-font-family: "Noto Sans Mono", sans-serif;
			--ock-border-radius: 0.375rem;
			--ock-border-radius-inner: 0.125rem;
			--ock-text-inverse: var(--color-zinc-50, #fafafa);
			--ock-text-foreground: var(--color-zinc-950, #09090b);
			--ock-text-foreground-muted: var(--color-zinc-600, #52525b);
			--ock-text-error: var(--color-rose-600, #e11d48);
			--ock-text-primary: var(--color-zinc-950, #09090b);
			--ock-text-success: var(--color-lime-600, #65a30d);
			--ock-text-warning: var(--color-orange-600, #ea580c);
			--ock-text-disabled: var(--color-zinc-400, #a1a1aa);

			--ock-bg-default: var(--color-zinc-50, #fafafa);
			--ock-bg-default-hover: var(--color-zinc-200, #e4e4e7);
			--ock-bg-default-active: var(--color-zinc-300, #d4d4d8);
			--ock-bg-alternate: var(--color-zinc-200, #e4e4e7);
			--ock-bg-alternate-hover: var(--color-zinc-300, #d4d4d8);
			--ock-bg-alternate-active: var(--color-zinc-400, #a1a1aa);
			--ock-bg-inverse: var(--color-zinc-100, #f4f4f5);
			--ock-bg-inverse-hover: var(--color-zinc-200, #e4e4e7);
			--ock-bg-inverse-active: var(--color-zinc-300, #d4d4d8);
			--ock-bg-primary: var(--color-zinc-950, #09090b);
			--ock-bg-primary-hover: var(--color-zinc-800, #27272a);
			--ock-bg-primary-active: var(--color-zinc-700, #3f3f46);
			--ock-bg-primary-washed: var(--color-zinc-100, #f4f4f5);
			--ock-bg-primary-disabled: var(--color-zinc-300, #d4d4d8);
			--ock-bg-secondary: var(--color-neutral-200, #e5e5e5);
			--ock-bg-secondary-hover: var(--color-neutral-300, #d4d4d4);
			--ock-bg-secondary-active: var(--color-neutral-400, #a3a3a3);
			--ock-bg-error: var(--color-rose-600, #e11d48);
			--ock-bg-warning: var(--color-orange-600, #ea580c);
			--ock-bg-success: var(--color-lime-600, #65a30d);
			--ock-bg-default-reverse: var(--color-neutral-50, #fafafa);

			--ock-icon-color-primary: var(--color-zinc-950, #09090b);
			--ock-icon-color-foreground: var(--color-zinc-950, #09090b);
			--ock-icon-color-foreground-muted: var(--color-zinc-600, #52525b);
			--ock-icon-color-inverse: var(--color-zinc-50, #fafafa);
			--ock-icon-color-error: var(--color-rose-600, #e11d48);
			--ock-icon-color-success: var(--color-lime-600, #65a30d);
			--ock-icon-color-warning: var(--color-orange-600, #ea580c);

			--ock-line-primary: var(--color-zinc-950, #09090b);
			--ock-line-default: var(--color-zinc-300, #d4d4d8);
			--ock-line-heavy: var(--color-zinc-500, #71717a);
			--ock-line-inverse: var(--color-zinc-700, #3f3f46);
		}
	}

	@layer components {
		.animate-enterRight {
			animation: enterRight 500ms ease-in-out;
		}

		.animate-enterUp {
			animation: enterUp 500ms ease-in-out;
		}

		.animate-enterDown {
			animation: enterDown 500ms ease-in-out;
		}
	}

	@layer utilities {
		/* Scrollbar styles */
		.scrollbar-hidden::-webkit-scrollbar {
			display: none;
		}

		.scrollbar-hidden {
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none; /* IE and Edge */
		}
	}

	/* Custom animations for Tailwind v4 */
	@keyframes enterRight {
		from {
			opacity: 0;
			transform: translateX(2rem);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes enterUp {
		from {
			opacity: 0;
			transform: translateY(2rem);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes enterDown {
		from {
			opacity: 0;
			transform: translateY(-2rem);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
